<html>
  <head>
    <title>Standard Template</title>
    <style>
      @media (max-width: 48em) {
        .container {
          max-width: 100% !important;
          min-width: 100% !important;
        }
      }
    </style>
  </head>
  <body>
    <table class="container">
      <tr>
        <td>
          <table class="table-fixed w-100">
            <tr>
              <td>
                <h1 class="m0 headline">Custom Template</h1>
              </td>
              <td>
                <div class="w-100 text-right">
                  <img
                    src="https://mma.prnewswire.com/media/947841/AlphaSense_Logo.jpg?p=twitter"
                    class="logo"
                  />
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <p class="m0 text-md">All of the body for this email goes here!</p>
        </td>
      </tr>
      <tr>
        <table class="container border-bottom py2"></table>
      </tr>
    </table>
  </body>
</html>
